<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
   
    <div id= "app">
      
        <h1>{{ randomNum }}</h1>
        <button v-for="num in number"
          @click="ans=num">
            {{ num }}
        </button>
    <br>
        <h2>{{ check }}</h2>
    
        
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                number: [
                '0',
                '1',
                '2',
                '3',
                '4',
                '5',
                '6',
                '7',
                '8',
                '9'],
                randomNum : Math.floor(Math.random() * 10),
                ans: null,

            },
            methods: {
            
                random: function () {
                    this.randomNum = Math.floor(Math.random() * 10);
                },
            },
            computed: {
                check: function() {
                    if (this.ans == this.randomNum){
                        this.random();
                        return 'ถูกต้อง';
                    }
                    else if (this.ans > this.randomNum) {
                        return 'มากไป';
                    }else{
                        return 'น้อยไป';
                    }

                }
            },
           
        });
    </script>
</body>
</html>